
body {
    background-image: url("Water Background.png");
    margin: 90;
    height: 60vh; 
    padding-top: 110px; ;
    font-family:'Poppins';
}

.container {
    text-align: center; 
}
.content-box {
    position: absolute;
      top: 50%;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
      background-color: white;
      width:88%; 
      height: 90%; 
      border-radius: 30px;
      padding: 20px; 
}
.header {
  padding: 30px;
  text-align: center;
  background: #ffffff;
  color: rgb(165, 27, 27);
  font-size: 25px;
}

.img {
 max-width: 100%;
 height: auto;
 padding: 10px;
 padding-left: 100px;
}

